.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profileNavbar {
  width: 95%;
  height: 300px;
  background-color: rgb(219, 219, 219);
  margin-top: 20px;
  overflow: hidden;
}

.profileNavbar > .navbar {
  width: 100%;
  height: 50px;
  padding-left: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.profileNavbar > .navbar > .navbarLeft > button {
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  transition: background-color 0.2s ease-in-out;
}

.navbarLeft > button:hover {
  background-color: #ccc;
}

.navbarLeft > .active {
  border-bottom: 1px solid #000;
}

.profileNavbar > .navbar > .navbarRight > .followButton {
  background-color: rgb(70, 70, 70);
  padding: 5px 15px;
  border-radius: 4px;
  color: #fff;
}

.profileNavbar > .navbar > .navbarRight > .followingButton {
  background-color: #afafaf;
  padding: 5px 15px;
  border-radius: 4px;
  color: #000;
}

.backgroundImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.personStoryProfile {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 280px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.personStoryProfile p {
  text-align: justify;
}

.personProfile {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 280px;
  height: 450px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: -100px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.personProfile > .top > .profileImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.personProfile > .top > .profileImageContainer > .profileImage {
  border-radius: 50%;
}

.personProfile > .top > h2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
  margin-left: 25px;
  gap: 10px;
}

.personProfile > .top > h3 {
  margin-left: 25px;
  color: grey;
}

.personProfile > .bottom > p {
  margin-left: 25px;
  margin-top: 15px;
  font-weight: 500;
}

.personProfile > .bottom > a {
  margin-left: 25px;
  color: rgb(49, 176, 249);
  cursor: pointer;
}

.personProfile > .bottom > .information {
  margin-left: 25px;
  margin-top: 15px;
}

.personProfile > .bottom > .information > .info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  margin-bottom: 4px;
  color: grey;
}

.personProfile > .bottom > .information > .link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  margin-bottom: 4px;
  color: grey;
}

.personProfile > .bottom > .information > .info > span {
  font-size: 14px;
}

.personProfile > .bottom > .information > .link > a {
  font-size: 14px;
  color: rgb(49, 176, 249);
  cursor: pointer;
}

.post {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
  margin-top: 40px;
}

.postAndStory {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  position: relative;
  width: 280px;
  height: 360px;
  margin-left: 25px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.right > h2 {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid grey;
}

.right > .followPerson {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.right > .followPerson > span {
  display: flex;
}

.followImage {
  border-radius: 50%;
  margin-right: 5px;
}

.followName > a {
  font-size: 16px;
  font-weight: 800;
}

.followName > h3 {
  color: grey;
  font-size: 12px;
}

.followPerson > button {
  background-color: rgb(70, 70, 70);
  color: #fff;
  border-radius: 4px;
  height: 30px;
  padding: 0 10px;
}

.right > a {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  color: rgb(49, 176, 249);
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .right {
    display: none;
  }
  .post {
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .profileNavbar {
    height: 200px;
  }
  .profileNavbar > .navbar {
    padding-left: 250px;
    padding-right: 10px;
  }
  .profileNavbar > .navbar > .navbarLeft > button {
    margin-right: 5px;
  }
  .backgroundImage {
    height: 150px;
  }
}

@media screen and (max-width: 765px) {
  .wrapper {
    flex-direction: column;
  }

  .profileNavbar > .navbar {
    padding-left: 0;
  }

  .personProfile {
    width: 100%;
    height: 280px;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .post {
    margin-left: 0;
  }
}

@media screen and (max-width: 499px) {
  .personProfile {
    height: 420px;
    flex-direction: column;
    width: 280px;
    margin: auto;
    margin-top: 20px;
  }

  .profileNavbar > .navbar > .navbarLeft > button {
    font-size: 16px;
    padding: 0;
    padding-right: 10px;
  }

  .profileNavbar > .navbar > .navbarRight > button {
    padding: 5px 10px;
  }
  .profileNavbar {
    height: 150px;
  }
  .backgroundImage {
    height: 100px;
  }
}
