.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.backgroundImage {
  width: 95%;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;
}

.wrapper {
  width: 80%;
  display: flex;
}

.personProfile {
  padding: 10px;
  width: 280px;
  height: 450px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: -75px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.personProfile > .profileImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.personProfile > .profileImageContainer > .profileImage {
  border-radius: 50%;
}

.personProfile > h2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
  margin-left: 25px;
  gap: 10px;
}

.personProfile > h3 {
  margin-left: 25px;
  color: grey;
}

.personProfile > p {
  margin-left: 25px;
  margin-top: 25px;
  font-weight: 500;
}

.personProfile > a {
  margin-left: 25px;
  color: rgb(78, 190, 255);
  cursor: pointer;
}

.personProfile > .location {
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-top: 10px;
}
