.container {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 25px;
}

.profilPerson {
  border-radius: 50%;
}

.person {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.person > .personLeft {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 5px;
}

.person > .personLeft > span > h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -5px;
}

.person > .personLeft > span > h3 {
  font-size: 12px;
  color: grey;
  font-weight: 300;
  margin-top: -5px;
}

.person > .personRight {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
  color: grey;
}

.person > .personRight > p {
  font-size: 14px;
}

.wrapper {
  width: 100%;
  background-color: #fff;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.postInformation {
  width: 70%;
}

.profilePost > .postImageContainer {
  height: 100%;
}

.profilePost > .postImageContainer > .bookImage {
  padding: 3px;
  height: 100%;
  width: auto;
}

.postInformation {
  width: 70%;
  margin-left: 10px;
  position: relative;
}

.postInformation > h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  max-height: 40px;
  overflow: hidden;
}

.postInformation > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #7e7d7d;
  margin-top: -5px;
  margin-bottom: 5px;
}

.postInformation > .desc {
  text-align: justify;
  height: 66%;
  overflow: hidden;
}

.postInformation > p {
  color: rgb(90, 90, 90);
}

.rateLike {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 30px;
  bottom: -10px;
}

.rateLike > .rate {
  display: flex;
  align-items: center;
}

.rateLike > .rate > .icon {
  color: grey;
  margin-right: 3px;
  font-size: 24px;
}

.rateLike > .rate > span {
  color: grey;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 499px) {
  .wrapper {
    flex-direction: column;
    height: 500px;
  }

  .postInformation {
    width: 100%;
    margin: 0;
    height: 50%;
  }
  .postInformation > .desc {
    height: 60%;
  }
  .profilePost > .postImageContainer {
    height: 200px;
    display: flex;
    justify-content: center;
  }
  .profilePost > .postImageContainer > .bookImage {
    height: 100%;
  }
}
