.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setting {
  display: flex;
  gap: 30px;
  padding: 20px;
}
