.container {
  min-height: calc(100vh - 322px);
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container > h2 {
  font-size: 32px;
  color: #222;
  letter-spacing: 1px;
  font-weight: 600;
}

.wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapper > .searchBox {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
/* 
.wrapper > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} */

.wrapper > .formBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.wrapper > .formBox > .inputBox {
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  justify-content: space-between;
  width: 400px;
}

.wrapper > .formBox > .inputBox > ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper > .formBox > .inputBox > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.wrapper > .formBox > .inputBox > ul > li > p {
  color: #5d5d5d;
  font-weight: 700;
  font-size: 16px;
}

.wrapper > .formBox > .inputBox > ul > li > .starPuan {
  width: 200px;
  position: absolute;
  outline: none;
  border: none;
  border-radius: 20px;
  resize: none;
  right: 0;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.wrapper > .formBox > .inputBox > ul > li > input {
  width: 200px;
  position: absolute;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  resize: none;
  right: 0;
}
.wrapper > .formBox > .inputBox > ul > li > select {
  width: 200px;
  position: absolute;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  resize: none;
  right: 0;
}

.wrapper > .formBox > .inputBox > ul > li > button {
  width: 200px;
  position: absolute;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  resize: none;
  right: 0;
}

.wrapper > .formBox > .yourStory {
  height: 90%;
}

.createBlog {
  margin-top: 2.5rem;
  outline: none;
  border: 1px solid transparent;
  padding: 0.5rem 1.25rem;
  font-size: 18px;
  border-radius: 12px;
  background-color: #22ab22;
  color: #efefef;
  cursor: pointer;
  transition: 150ms;
}

.createBlog:hover {
  background-color: #efefef;
  border-color: #22ab22;
  color: #22ab22;
}

.createBlog[disabled] {
  background-color: #dddddd;
  color: #aaaaaa;
  cursor: not-allowed;
  border: 0;
}

.accessDenied {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  font-size: 32px;
  font-weight: bold;
}

.bookControlWarning {
  margin-top: 20px;
}

/* searh component */

.searchBox > .search {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.searchBox > .search > .searchIcon {
  position: absolute;
  font-size: 20px;
  left: 10px;
}

.searchBox > .search > input {
  width: 300px;
  border-radius: 30px;
  padding: 10px 20px;
  padding-left: 35px;
  border: 1px solid #ccc;
}

.searchBox > .searchBooks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  top: 40px;
  border-radius: 5px;
  padding: 10px;
}

.newBook {
  width: 370px;
  height: 220px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
/* .searchBox > .searchBooks > .book {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.searchBox > .searchBooks > .book > img {
  height: 80px;
}

.searchBox > .searchBooks > .book > .searchBookDetail > span {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.searchBox > .searchBooks > .book > .searchBookDetail > h2 {
  font-size: 16px;
}

.searchBox > .searchBooks > .book > .searchBookDetail > h3 {
  font-size: 12px;
  color: #555;
}

.searchBox > .searchBooks > .book > .searchBookDetail > span > p {
  color: #ccc;
  font-size: 12px;
} */

.book > .star {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

@media screen and (max-width: 999px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .wrapper > .formBox {
    flex-direction: column;
  }

  .wrapper > .formBox > .yourStory {
    height: 300px;
  }
}
