.container {
  position: sticky;
  z-index: 999;
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 2px 5px 27px -8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left {
  font-size: 36px;
  color: rgb(26, 180, 26);
}

.image {
  border-radius: 50%;
}

.middle {
  display: flex;
  gap: 5px;
}

.middle > button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  padding: 2px 5px 2px 5px;
  border-radius: 20px;
  color: grey;
  position: relative;
}

.middle > button:after {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 2px;
}

.middle > button:before {
  transition: all 0.5s;
}

.middle > button:hover {
  color: #000;
}

.middle > button:hover:after {
  width: 100%;
}

.middle > button > .navbarText {
  margin-right: 20px;
  font-family: Graphik, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login {
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 17px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.register {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid rgb(70, 70, 70);
}

.search {
  display: flex;
  align-items: center;
}

.search > input {
  width: 60%;
  border: 1px solid #a9a9a9;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 8px;
}

.search > .icons {
  font-weight: bold;
  font-size: 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.createIcon {
  font-size: 25px;
}

.settingsIcon {
  font-size: 25px;
}

@media screen and (max-width: 1350px) {
  .wrapper {
    display: none;
  }
}
