.container {
  position: sticky;
  z-index: 999;
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 2px 5px 27px -8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left {
  font-size: 36px;
  color: rgb(26, 180, 26);
}

.image {
  border-radius: 50%;
}

.middle {
  display: flex;
}

.middle > button {
  margin-right: 20px;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.login {
  outline: none;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 17px;
  background-color: #10c142;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

.search > input {
  width: 60%;
  border: 1px solid #a9a9a9;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 8px;
}

.search > .icons {
  font-weight: bold;
  font-size: 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.createIcon {
  font-size: 30px;
}
