.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  width: 100%;
  background-color: red;
  height: 120px;
  background-color: #fff;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.settingsBookImage {
  width: auto;
  height: 100px;
}
