.container {
  display: flex;
  position: relative;
}

.search {
  display: flex;
  align-items: center;
}

.search > input {
  width: 60%;
  border: 1px solid #a9a9a9;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 8px;
}

.search > .icons {
  font-weight: bold;
  font-size: 24px;
}

.searchBox {
  position: absolute;
  margin-top: 50px;
  background-color: white;
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
}

.searchBox > .searchBook {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.searchBox > .searchBook > span > h2 {
  font-size: 18px;
  font-weight: 500;
}

.searchBox > .searchBook > span > h3 {
  font-size: 14px;
  color: grey;
  margin-top: -5px;
}
