.container {
  display: flex;
  position: relative;
}

.search {
  display: flex;
  align-items: center;
}

.search > input {
  width: 60%;
  border: 1px solid #a9a9a9;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 8px;
}

.search > .icons {
  font-weight: bold;
  font-size: 24px;
}

.searchBox {
  width: 500px;
  height: 300px;
  position: absolute;
  margin-top: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
