.container {
  margin-top: 20px;
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.information {
  max-width: 400px;
  min-height: 80vh;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(44, 44, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information > h1 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.information > .middle > h2 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.information > .middle > h3 {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.information > .bottom {
  padding: 20px;
  background-color: rgb(2, 2, 182);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.bottom > p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.bottom > span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.register {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register > h2 {
  font-size: 26px;
  font-weight: 600;
}

.register > h3 {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 5px;
}

.register > h3 > .register {
  color: blue;
  font-weight: 600;
}

.register > .form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-start;
  gap: 4px;
}

.register > .form > input {
  width: 300px;
  padding: 15px;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: 500;
}

.register > .form > button {
  width: 300px;
  background-color: #f3f3f3;
  padding: 15px;
  color: #aaa;
  font-weight: 600;
  border-radius: 10px;
  justify-content: flex-start;
}

.register > .form > .submitButton {
  margin-top: 10px;
  width: 300px;
  background-color: rgb(44, 44, 255);
  padding: 15px;
  color: #fff;
  border-radius: 10px;
}

.register > .form > button[disabled] {
  background-color: #dddddd;
  color: #aaaaaa;
  cursor: not-allowed;
}

.register > .form > h4 {
  font-size: 14px;
  font-weight: 600;
  color: grey;
}

.form > .profilImage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 15px;
  margin: 10px 0;
}

.form > .profilImage > .images {
  border-radius: 50px;
}

.form > .profilImage > .active {
  border: 5px solid #000;
}

.uploadImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: -10px;
}
