.container {
  width: 100%;
  position: relative;
}

.buttonContainer {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.buttonContainer > button {
  background-color: #fff;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  font-size: 18px;
}

.image {
  width: 100%;
  height: auto;
}
