.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 60%;
  margin: 50px 0;
  display: flex;
  gap: 50px;
}

.imgContainer {
  min-width: 25%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.imgContainer button {
  width: 200px;
  border: 1px solid #3f8363;
  padding: 10px 0;
  border-radius: 50px;
  font-weight: 600;
}

.imgContainer .buttonGreen {
  background-color: #3f8363;
  color: #fff;
}

.imgContainer .deleteButton {
  padding: 3px 0;
  background-color: rgb(202, 3, 3);
  color: #fff;
  border: 1px solid red;
  margin-top: 50px;
  font-weight: 400;
}

.imgContainer .bookDetailPage {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.imgContainer .bookDetailPage div {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 13px;
  gap: 5px;
}

.imgContainer .bookDetailPage .bilgiTitle {
  width: 100px;
}

.imgContainer .bookDetailPage .bilgi {
  width: 50%;
}

.imgContainer .bookDetailPage .bilgi input {
  width: 100px;
  border: 1px solid #8e8e8e;
  border-radius: 50px;
  padding: 0 10px;
  color: #5d5d5d;
  font-weight: 600;
}

.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.inputContainer span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  height: 50px;
}

.inputContainer span h4 {
  width: 30%;
  font-size: 14px;
  font-weight: 600;
  color: #989898;
}

.inputContainer span input {
  width: 60%;
  height: 40px;
  border: 1px solid #8e8e8e;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 600;
  color: #5d5d5d;
}

.inputContainer .description {
  width: 80%;
}

.inputContainer span ul {
  width: 60%;
  height: 100%;
  display: flex;
  gap: 5px;
}

.inputContainer span ul li {
  height: 25px;
  padding: 0 10px;
  background-color: #2480a4;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.inputContainer span ul li .genresClose {
  cursor: pointer;
}
