.body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.settingsFirstSelectCard {
  width: 70%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.settingsFirstSelectCard ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.settingsFirstSelectCard ul li {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.settingsFirstSelectCard ul li:last-child {
  background-color: rgba(255, 0, 0, 0.6);
}

.settingsFirstSelectCard ul li h2 {
  font-size: 24px;
  font-weight: 700;
}

.settingsProfileImage {
  position: absolute;
  width: auto;
  height: 200px;
  opacity: 0.2;
}

.settingsPasswordImage {
  position: absolute;
  width: auto;
  height: 120px;
  opacity: 0.2;
}

.settingsBookImage {
  position: absolute;
  width: auto;
  height: 250px;
  opacity: 0.2;
}

.settingsTeamImage {
  position: absolute;
  width: auto;
  height: 150px;
  opacity: 0.2;
}

.settingsEmailImage {
  position: absolute;
  width: auto;
  height: 180px;
  opacity: 0.2;
}

.settingLogoutImage {
  position: absolute;
  width: auto;
  height: 100px;
  opacity: 0.2;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}

.container > .navbar {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.container > .wrapper {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
}

.container > .navbar > h2 {
  font-size: 30px;
  font-weight: 600;
}

.navbar > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar > .logout {
  width: 100%;
}

.navbar > .logout > button {
  width: 100%;
  color: #fff;
  background-color: rgb(0, 0, 0);
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

.navbar > ul > li > a {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.navbar > ul > .active > a {
  background-color: #e3e1e1;
}

.settingsProfile {
  width: 100%;
  height: 100%;
}

.settingsProfile > .backgroundImageContainer {
  position: relative;
  width: 100%;
  height: 180px;
}

.backgroundImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.backgroundEdit {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 32px;
  color: #ccc;
  padding: 2px 5px;
  border-radius: 5px;
  border: 2px solid #d1d1d1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.backgroundEdit:hover {
  background-color: #f7f7f7;
  color: #000;
}

.profileUp {
  padding: 2px;
  position: relative;
  margin-bottom: 100px;
}

.profilImageContainer {
  padding: 2px;
  position: absolute;
  display: flex;
  top: -50px;
  left: 50px;
  align-items: center;
  gap: 20px;
}

.profilImage {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
}

.profilExplanation {
  margin-top: 20px;
}

.profilExplanation > h2 {
  font-size: 24px;
  font-weight: 700;
}

.profilExplanation > h3 {
  margin-top: -5px;
  font-size: 16px;
  font-weight: 500;
  color: #5d5d5d;
}

.saveButton {
  position: absolute;
  right: 0;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.saveButton > button {
  padding: 7px 15px;
  background-color: #ccc;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

.saveButton > button:last-child {
  background-color: #050d36;
  color: #fff;
}

.information {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.information > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  align-items: start;
}

.information > form > span {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  height: 50px;
}

.information > form > span > h4 {
  width: 30%;
  font-size: 14px;
  font-weight: 600;
  color: #989898;
}

.information > form > span > div {
  width: 30%;
  font-size: 14px;
  font-weight: 600;
  color: #989898;
}

.information > form > span > div > h5 {
  font-size: 12px;
}

.information > form > span > input {
  width: 50%;
  height: 40px;
  border: 1px solid #8e8e8e;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 600;
  color: #5d5d5d;
}

.information > form > .textarea {
  height: 100px;
}

.information > form > span > textarea {
  width: 50%;
  height: 90%;
  border: 1px solid #8e8e8e;
  border-radius: 10px;
  padding: 10px;
}

.information > form > h4 {
  font-size: 14px;
  font-weight: 600;
  color: #989898;
}

.selectedProfilImage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 15px;
  margin: 10px 0;
}

.selectedProfilImage > .images {
  border-radius: 50%;
}

form > .selectedProfilImage > .active {
  border: 5px solid #000;
}

/* Settings Book */

.settingsBooks {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media screen and (max-width: 1350px) {
  .container {
    flex-direction: column;
  }
  .container > .wrapper {
    width: 100%;
  }

  .container > .navbar {
    flex-direction: row;
  }

  .navbar > ul {
    flex-direction: row;
  }
}

@media screen and (max-width: 999px) {
  .container > .navbar {
    display: none;
  }
}
